* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;

  & body,
  & .ember-application {
    overflow: hidden;

    /* overflow-x: hidden; */
  }
}

/* either on body or some div during testing */
.ember-application {
  margin-top: var(--top-nav-height);
  min-height: calc(100vh - var(--top-nav-height));
}

hr {
  margin: var(--grid-gap) 0;

  &.vertical {
    margin: 0 var(--grid-gap);
    border-top: none;
    border-left: 1px solid var(--hr-border-color);
    width: 1px;
    height: 100%;
  }
}

body > main > section {
  padding: var(--grid-gap);
  padding-bottom: calc(var(--top-nav-height) + var(--grid-gap));

  & > .center-self {
    /* kinda */
    align-self: center;
    justify-self: center;
  }
}

button {
  /* check scan button if changing this */

  /* display: grid; */
  & svg {
    align-self: center;
  }
}

a {
  cursor: pointer;

  & svg + span,
  & span + svg {
    margin-left: var(--grid-gap);
  }
}

a:hover {
  text-decoration: none;
}

a .icon,
button .icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

pre.wrap {
  white-space: inherit;
}

pre {
  user-select: text;
  touch-action: unset;
}

svg.svg-inline--fa {
  width: 1rem;
  height: 1rem;
  line-height: 1.5rem;
}
