.grid {
  @apply --grid;
}

/* remove this */
.grid-column {
  @apply --column-grid;
}

.grid\:column {
  @apply --column-grid;
}

.grid\:col\:2 {
  grid-template-columns: 1fr 1fr;
}

.justify\:around {
  justify-content: space-around;
}

.grid-autoflow {
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

.justify\:start {
  justify-content: start;
}

.align-self\:center {
  align-self: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
