:root {
  --font-system:
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Ubuntu,
    Arial,
    sans-serif;

  --grid {
    display: grid;
    grid-gap: var(--grid-gap);
  }

  --column-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--grid-gap);
  }

  --grid-space-between {
    justify-content: space-between;
    align-items: center;
  }

  --grid-stretch {
    justify-content: stretch;
    align-items: center;
  }

  --no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  --transition-all {
    transition: all 0.2s ease-in-out;

    /* transition: all 0.2s cubic-bezier(0.6, 0, 0.735, 0.045); */
  }

  --transition-touch {
    transition: all 0.1s linear;
  }

  --button-as-link {
    height: unset;
    line-height: unset;
    text-align: unset;
    display: unset;
    border: none;
    padding: 0;
    background: none;
    color: var(--link-color);

    &:hover {
      background: none;
      color: var(--link-color-hover);
    }
  }
}
