@import 'shoelace-css/source/css/normalize';
@import 'shoelace-css/source/css/content';
@import 'shoelace-css/source/css/alerts';
@import 'shoelace-css/source/css/badges';
@import 'shoelace-css/source/css/buttons';
@import 'shoelace-css/source/css/dropdowns';

/* @import 'shoelace-css/source/css/dropdowns'; */
@import 'shoelace-css/source/css/file-buttons';
@import 'shoelace-css/source/css/forms';
@import 'shoelace-css/source/css/grid';

/* @import url('progress-bars.css'); */

/* @import url('loaders.css'); */
@import 'shoelace-css/source/css/switches';
@import 'shoelace-css/source/css/tabs';
@import 'shoelace-css/source/css/tables';
@import 'shoelace-css/source/css/utilities';
@import 'shoelace-css/source/css/variables';
@import './themes/default';
@import './themes/midnight';
@import './defaults';
@import './shoelace-overrides';
@import './layout';
@import './mixins';

.visually-hidden {
  position: absolute;
  left: -1000px;
  top: -100px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.is-radiusless {
  border-radius: 0;
}

.no-select {
  @apply --no-select;
}

.has-shadow {
  box-shadow: var(--shadow);
}

.button-group {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-auto-flow: column;

  &.right-aligned {
    justify-content: end;
  }
}

.hero {
  min-height: calc(100vh - var(--top-nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cta {
  display: flex;
  justify-content: flex-end;
}

.cta-with-fallback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.overflows {
  overflow-y: auto;
  overflow-x: hidden;
}
