:root {
  --color-purple: hsl(253, 84%, 53%);
  --color-red: hsl(348, 100%, 41%);
  --color-gray: #334;
  --color-medium-gray: #555;
  --color-medium-light-gray: #aaa;
  --color-light-gray: #efefef;
  --state-primary: var(--color-purple);

  --link-color: var(--state-dark);
  --placeholder-color: var(--color-medium-light-gray);
  --body-color-muted: var(--color-medium-light-gray);

  --grid-gap: 0.75rem;
  --grid-gap-small: 0.5rem;
  --grid-gap-tiny: 0.25rem;
  --shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  --hint-color: var(--color-medium-gray);

  --top-nav-bg: var(--state-light);
  --top-nav-shadow: var(--shadow);
  --top-nav-height: 50px;

  --sidebar-bg-color: var(--state-light);
  --sidebar-nav-active-color: var(--color-light-gray);
  --sidebar-hint-text: var(--hint-color);

  --modal-overlay-color: rgba(0,0,0,0.12);
  --modal-content-bg: var(--state-light);
  --modal-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);

  --search-result-text-color: var(--color-gray);
  --search-result-hover-bg: var(--color--gray);
  --search-result-border-color: var(--color-gray);
  --search-divider-color: var(--color-light-gray);

  --key-color: var(--color-light-gray);
  --key-bg-color: #72767d;
  --key-border-color: #202225;
  --key-shadow-color: rgba(35, 39, 42, 0.6);

  --chat-entry-bg-color: #f3f3f3;
  --chat-entry-line-height: 1.5rem;

  --chat-message-hover-color: #f8f8f8;
  --chat-message-sent-at: var(--color-medium-gray);
}
