// Color Variables
// https://bulma.io/documentation/overview/variables/


// Colors
// $primary: #650360;
// $info:    #00A4D9;
// $success: #5eadb2;
// $warning: #fce473;
// $danger:  #ed6c63;
$background: #f5f5f5;
$sidebar-background: lighten($background, 50%);

// // Border radius
// $radius: 0;
$card-background-color: #f7f7f7;
