<main class='ask-game-type'>
  <section>
    <h2>How many people would you like in your game?</h2>

    <div class='game-type-options'>
      <LinkTo @route='three-player'>
        3 Player Game
      </LinkTo>

      <LinkTo @route='four-player'>
        4 Player Game
      </LinkTo>
    </div>
  </section>
</main>
