.midnight-theme {
  --color-purple: hsl(253, 84%, 45%);
  --color-dark-gray: #111;
  --color-gray: #222;
  --color-almost-white: #ddd;
  --color-white: #fff;
  --state-secondary: var(--color-gray);
  --body-bg-color: var(--color-gray);
  --body-color: var(--color-almost-white);
  --body-color-muted: #777;
  --link-color: var(--color-almost-white);
  --link-color-hover: var(--color-white);
  --pre-bg-color: #1a1a1a;
  --pre-color: var(--color-almost-white);
  --code-color: var(--pre-color);
  --code-bg-color: var(--pre-pg-color);
  --table-bg-color: var(--color-gray);
  --top-nav-bg: #1a1a1a;
  --top-nav-inverted-color: #aaa;
  --sidebar-bg-color: var(--color-gray);
  --sidebar-nav-active-color: var(--color-dark-gray);
  --sidebar-hr-border-color: var(--color-dark-gray);
  --sidebar-footer-shadow-opacity: 0.6;
  --modal-content-bg: var(--color-gray);
  --modal-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  --search-result-text-color: var(--link-color);
  --search-result-hover-bg: var(--color-medium-gray);
  --search-divider-color: var(--color-medium-gray);
  --input-color: var(--color-almost-white);
  --input-bg-color: var(--color-medium-gray);
  --input-border-color: black;
  --chat-entry-bg-color: var(--top-nav-bg);
  --chat-message-hover-color: #333;
  --chat-message-unread-bg-color: #2a2a2a;
  --chat-message-sender-name-incoming: var(--color-fuchsia);
  --chat-message-sender-name-outgoing: var(--color-orange);
  --chat-new-messages-notice-bg-color: var(--color-medium-gray);
  --scrollbar-track-hover: #292929;
  --scrollbar-track-thumb: #666;
  --scrollbar-track-thumb-hover: #777;
  --dropdown-bg-color: #333;
  --dropdown-color: var(--body-color);
  --dropdown-border-color: var(--color-medium-gray);
  --dropdown-divider-color: var(--color-medium-gray);
}
