

@import url('shoelace.css');

@import './themes/default.css';
@import './themes/dark.css';

@import './components/top-nav.css';
@import './components/sidebar.css';
@import './components/modal.css';
@import './components/modal-search.css';
@import './components/modal-snippets.css';
@import './components/key.css';
@import './components/messages.css';
@import './components/hover-tip.css';
@import './components/ellipsis-loader.css';
@import './components/chat-entry.css';
@import './components/connection-status.css';
@import './components/settings-nav.css';

@import './utility/transitions.css';

:root {
  --grid {
    display: grid;
    grid-gap: var(--grid-gap);
  }

  --column-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--grid-gap);
  }


  --grid-space-between {
    justify-content: space-between;
    align-items: center;
  }

  --grid-stretch {
    justify-content: stretch;
    align-items: center;
  }

}


* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

hr {
  margin: var(--grid-gap) 0;

  &.vertical {
    margin: 0 var(--grid-gap);
    border-top: none;
    border-left: 1px solid var(--hr-border-color);
    width: 1px;
    height: 100%;
  }
}

.is-radiusless {
  border-radius: 0;
}

.dropdown .dropdown-menu {
  box-shadow: 0 8px 8px rgba(10,10,10,.1);
}

.has-shadow {
  box-shadow: var(--shadow);
}

.button-group {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-auto-flow: column;

  &.right-aligned {
    justify-content: end;
  }
}

.hero {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

a {
  cursor: pointer;

  & svg + span,
  & span + svg {
    margin-left: var(--grid-gap);
  }
}

a:hover {
  text-decoration: none;
}

a.has-icon {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 0.5rem;
}

a .icon,
button .icon {
  height: 100%;
  display: flex;
  align-items:  center;
  justify-content:  center;
}

.icon-button {
  width: 1rem;
  height: 1rem;
}

button.has-icon {
  display: grid;
}

svg.svg-inline--fa {
  width: 1rem;
  height: 1rem;
  line-height: 1.5rem;
}

.cta-with-fallback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-select {
  user-select: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.full-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: fadein 0.5s;
  background-color: var(--modal-overlay-color);
  opacity: 0;

  &.active {
    display: block;
    opacity: 1;
  }

  &.invisible {
    background-color: transparent;
    display: block;
  }
}


.service-worker-update-notify {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  border-radius: 0;

/*   @include mobile { */
/*     top: 0; */
/*   } */

/*   @include tablet-only { */
/*     top: 0px; */
/*   } */
}

.not-allowed {
  cursor: not-allowed !important;
}



.overflows {
  overflow-y: auto;
  overflow-x: hidden;
}


/* TODO: figure out how to do this */
button.link {
  height: unset;
  line-height: unset;
  text-align: unset;
  border: none;
  padding: 0;
  background: none;
  color: var(--link-color);
}
