

@import url('shoelace.css');
@import './components/top-nav.css';

@import './components/sidebar.css';

/* @import url('/assets/theme.css'); */

/* variables to actually keep */
:root {
  --color-purple: hsl(253, 84%, 53%);
  --color-gray: #334;
  --state-primary: var(--color-purple);
  --link-color: var(--state-dark);

  --grid-gap: 0.5rem;
  --shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);

  --top-nav-bg: var(--state-light);
  --top-nav-shadow: var(--shadow);
}

.transition-all {
  transition: all 0.2s cubic-bezier(0.6, 0, 0.735, 0.045);
}

.hero {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

a.has-icon {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 0.5rem;
}

a .icon {
  height: 100%;
  display: flex;
  align-items:  center;
  justify-content:  center;
}

.icon-button {
  width: 1rem;
  height: 1rem;
}

button.has-icon {
  display: grid;
}

svg.svg-inline--fa {
  height: 1rem;
  line-height: 1.5rem;
}

.cta-with-fallback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.service-worker-update-notify {
  position: fixed;
  z-index: 2;
  right: 0;
  left: 0;
  border-radius: 0;

/*   @include mobile { */
/*     top: 0; */
/*   } */

/*   @include tablet-only { */
/*     top: 0px; */
/*   } */
}

.not-allowed {
  cursor: not-allowed !important;
}



.overflows {
  overflow-y: auto;
  overflow-x: hidden;
}


/* TODO: figure out how to do this */
button.link {
  height: unset;
  line-height: unset;
  text-align: unset;
  border: none;
  padding: 0;
  background: none;
  color: var(--link-color);
}
