* {
  box-sizing: border-box;
  touch-action: pan-y;
}

body, html {
  width: 100%;
  height: 100%;
  height: 100vh;
}

html.no-scrolling {
  overflow: hidden;

  & body {
    overflow: hidden;
  }
}

hr {
  margin: var(--grid-gap) 0;

  &.vertical {
    margin: 0 var(--grid-gap);
    border-top: none;
    border-left: 1px solid var(--hr-border-color);
    width: 1px;
    height: 100%;
  }
}

body > main > section {
  padding: var(--grid-gap);
  padding-bottom: calc(var(--top-nav-height) + var(--grid-gap));

  & > .center-self {
    /* kinda */
    align-self: center;
    justify-self: center;
  }
}

.grid {
  @apply --grid;
}


a {
  cursor: pointer;

  & svg + span,
  & span + svg {
    margin-left: var(--grid-gap);
  }
}

a:hover {
  text-decoration: none;
}

a .icon,
button .icon {
  height: 100%;
  display: flex;
  align-items:  center;
  justify-content:  center;
}

button {
  /* check scan button if changing this */
  /* display: grid; */
  & svg {
    align-self: center;
  }
}

pre.wrap {
  white-space: inherit;
}

svg.svg-inline--fa {
  width: 1rem;
  height: 1rem;
  line-height: 1.5rem;
}
