<ul class='back-of-hand playing-hand'>
  <li class='playing-card card1'><button type='button' disable></button></li>
  <li class='playing-card card2'><button type='button' disable></button></li>
  <li class='playing-card card3'><button type='button' disable></button></li>
</ul>

{{@name}}
