<div
  class='player-hand {{if this.isActive 'spread'}}'
  {{!-- template-lint-disable no-invalid-interactive --}}
  {{on 'click' this.toggle}}
>
  {{#each this.cards as |card|}}
    <PlayingCard
      @suit={{card.suit}}
      @value={{card.value}}
    />
  {{/each}}
</div>