.player-hand {
  cursor: pointer;
  /* position: absolute; */
  position: relative;
  transform: translateX(2rem);
  /* right: 5%; */
  /* bottom: 10%; */
  height: 45vw;
  width: 32vw;
  max-height: 450px;
  max-width: 320px;
  list-style: none;
}

@media only screen and (min-width: 1000px) {
  .player-hand {
    transform: rotateX(15deg) translate3d(50%, 0%, 0);
  }
}

.back-of-hand {
  padding: 0;
  transform: rotateX(60deg) translate3d(0, 0, 0);
  position: relative;
  max-height: 100%;
  max-width: 100%;
  height: 15vh;
  list-style: none;
}

.back-of-hand.playing-hand .playing-card {
  position: absolute;
  border-radius: 0.5vw;
  background: none;
  min-height: unset;
  min-width: unset;
  box-shadow: none;
  max-width: calc(100vw / 3 / 3);
  max-height: 25vh;
}

.back-of-hand .playing-card button {
  background: #333;
  border-radius: min(1rem, 1vw);
  width: 100%;
  padding-top: calc(5 / 3 * 100%); /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  height: unset;
}

.back-of-hand .card1 {
  transform: rotate(-31deg) translate3d(-50%, -10%, 0);
}

.back-of-hand .card2 {
  transform: rotate(-4.5deg) translateX(-22%);
}

.back-of-hand .card3 {
  transform: rotate(5.8deg) translateX(10%);
}

.back-of-hand .card4 {
  transform: rotate(22.5deg) translate3d(40%, -5%, 0);
}

.playing-card {
  background: #eeeae7;
  border-radius: 1rem;
  border-radius: min(1rem, 2vw);
  box-shadow: 0 1px 2px 0 rgba(151, 150, 146, 0.8);
  height: 45vw;
  max-height: 450px;
  max-width: 320px;
  min-height: 225px;
  min-width: 160px;
  position: absolute;
  transition: all ease-in 0.3s;
  width: 32vw;
  user-select: none;
}

.playing-card button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  border-radius: min(1rem, 2vw);
  display: flex;
}

.playing-card:first-child {
  /* box-shadow: var(--deck-shadow); */
}

.playing-card.hearts,
.playing-card.hearts button,
.playing-card.diamonds,
.playing-card.diamonds button {
  color: var(--deck-red);
}

.playing-card.spades,
.playing-card.clubs {
  color: var(--deck-black);
}

.player-hand.spread .playing-card {
  box-shadow: var(--spread-shadow);
}

.card-pip .value,
.card-pip .suit {
  display: block;
  text-transform: uppercase;
}

.card-pip .suit {
  font-size: 0.9em;
}

.card-pip {
  /* padding: 1.8rem 1.6rem; */
  padding: 2% 1%;
  width: var(--card-gutter);
  position: absolute;
  display: grid;
  grid-gap: 0.5rem;
  text-align: center;
  transition: all ease-in 0.1s;
}

.card-pip.top-left {
  top: 0;
  left: 0;
}

.card-pip.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.card-face {
  position: absolute;
  left: var(--card-gutter);
  right: var(--card-gutter);
  top: 10%;
  bottom: 10%;

  /* max-width: 70%; */

  /* left: 0; right: 0; top: 0; bottom: 0; */

  /* padding: 10% var(--card-gutter); */
  transition: all ease-in 0.1s;
}
