.player-hand {
  cursor: pointer;
  position: relative;
  transform: translateX(2rem);
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0;
  height: 66%;
}

@media only screen and (min-width: 1000px) {
  .player-hand {
    transform: rotateX(15deg) translate3d(50%, 0%, 0);
  }
}

.player-hand-info {
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
}

.back-of-hand {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-of-hand.playing-hand .non-player-card {
  position: absolute;
  transition: all ease-in 0.3s;
  user-select: none;
}

.back-of-hand.playing-hand .non-player-card button {
  background: #333;
  border: 1px solid;
  border-radius: 1rem;
  border-radius: min(1rem, 2vw);
  width: 100px;
  height: 150px;
}

.back-of-hand .card1 {
  transform: rotateZ(15deg) translate3d(-50%, -10%, 0);
  /* transform: translate3d(-50%, -10%, 0); */
}

.back-of-hand .card2 {
  transform: rotateZ(10deg) translateX(-22%);
}

.back-of-hand .card3 {
  transform: translateX(10%);
}

.back-of-hand .card4 {
  transform: rotate(22.5deg) translate3d(40%, -5%, 0);
}

.playing-card {
  background: #eeeae7;
  border-radius: 1rem;
  border-radius: min(1rem, 2vw);
  box-shadow: 0 1px 2px 0 rgba(151, 150, 146, 0.8);
  height: 45vw;
  max-height: 450px;
  max-width: 320px;
  min-height: 225px;
  min-width: 160px;
  position: absolute;
  transition: all ease-in 0.3s;
  width: 32vw;
  user-select: none;
}

.playing-card button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  border-radius: min(1rem, 2vw);
  display: flex;
}

.playing-card:first-child {
  /* box-shadow: var(--deck-shadow); */
}

.playing-card.hearts,
.playing-card.hearts button,
.playing-card.diamonds,
.playing-card.diamonds button {
  color: var(--deck-red);
}

.playing-card.spades,
.playing-card.clubs {
  color: var(--deck-black);
}

.player-hand.spread .playing-card {
  box-shadow: var(--spread-shadow);
}

.card-pip .value,
.card-pip .suit {
  display: block;
  text-transform: uppercase;
}

.card-pip .suit {
  font-size: 0.9em;
}

.card-pip {
  /* padding: 1.8rem 1.6rem; */
  padding: 2% 1%;
  width: var(--card-gutter);
  position: absolute;
  display: grid;
  grid-gap: 0.5rem;
  text-align: center;
  transition: all ease-in 0.1s;
}

.card-pip.top-left {
  top: 0;
  left: 0;
}

.card-pip.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.card-face {
  position: absolute;
  left: var(--card-gutter);
  right: var(--card-gutter);
  top: 10%;
  bottom: 10%;

  /* max-width: 70%; */

  /* left: 0; right: 0; top: 0; bottom: 0; */

  /* padding: 10% var(--card-gutter); */
  transition: all ease-in 0.1s;
}
