.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.grid {
  display: grid;
}

.fill {
  width: 100%;
  height: 100%;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.opposite-ends {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.center-squished {
  align-content: center;
}

.double-font-size {
  font-size: 2em;
}
