<section class='sticky-footer-content has-background-primary'>
  <div class='hero is-large'>
      <div class='hero-body'>
          <div class='container has-text-centered has-text-white'>
              <h1 class='title has-text-white'>
                  {{!-- {{t 'appname'}} --}}
                  EmberClear
              </h1>
              <h2>Encrypted Chat. No History. No Logs.</h2>
              <br />
              {{#link-to 'chat'
                  class='button is-dark'
                  style='padding-left: 2rem; padding-right: 2rem'}}
                  Begin
              {{/link-to}}
          </div>
      </div>
    </div>
</section>

{{app-footer class='sticky-footer'}}
