// Colors
// $primary: #650360;
// $info:    #00A4D9;
// $success: #5eadb2;
// $warning: #fce473;
// $danger:  #ed6c63;

// // Border radius
// $radius: 0;
$card-background-color: #f7f7f7;

@import 'fontawesome/css/fontawesome-all.min.css';
@import "bulma";

@import "utility/sticky-footer";
@import "utility/centering";
@import "utility/spacing";
@import "utility/borders";
@import "utility/flex";

.full-height {
  height: 100%;
  height: 100vh;
}

body {
  @include sticky-footer-container;

  .sticky-footer-content {
    @include sticky-footer-content;
  }
}

.navbar-item .icon:only-child {
  margin: 0;
}
