// Colors
// $primary: #650360;
// $info:    #00A4D9;
// $success: #5eadb2;
// $warning: #fce473;
// $danger:  #ed6c63;

// // Border radius
// $radius: 0;
$card-background-color: #f7f7f7;

// https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass#L46,L57
// custom breakpoints
$gap: 32px;


@import 'fontawesome/css/fontawesome-all.min.css';
@import "bulma";

@import "utility/sticky-footer";
@import "utility/centering";
@import "utility/spacing";
@import "utility/borders";
@import "utility/flex";
@import "utility/width";

.full-height {
  height: 100%;
  height: 100vh;
}

body {
  @include sticky-footer-container;

  .sticky-footer-content {
    @include sticky-footer-content;
  }
}

.navbar-item .icon:only-child {
  margin: 0;
}



#chat-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .message-list {
    flex: 1 1 0%;
    // overflow-y: auto;
    // min-height: 0px;
    align-items: flex-end;
    display: flex;
    flex-shrink: 1;
    .messages {
      flex: 1 1 auto;
      overflow-y: auto;
      min-height: auto;
      max-height: 100%;

      .message {
        &:first-child {
          flex-grow: 1;
        }
      }
    }

  }

}
