<div class='message'>
  <div class='message-header'>
    <span class='from'>{{@message.from}}</span>
    <span class='sentAt'>
      {{@message.sentAt}}
      <span class='receivedAt'>
        {{@message.receivedAt}}
      </span>
    </span>
  </div>
  <p>
    {{@message.body}}
  </p>
</div>
