node_modules
declarations/
tmp
dist
_build
deps
*.log
.idea/
.DS_Store

client/keystore.jks
client/upload_certificate.pem
client/Google Play Store Info

# Local Netlify folder
.netlify

# Local lighthouse ci
.lighthouseci
