stages:
  - setup
  - quality
  - test
  - build
  - analyze
  - deploy

# cache:
#   # untracked: true
#   key: ${CI_COMMIT_REF_SLUG}
#   paths:
#     - ${CI_PROJECT_DIR}/.cache_yarn
#     - ${CI_PROJECT_DIR}/packages/frontend/node_modules

image: node:10
# image: danlynn/ember-cli:3.4.2

variables:
  YARN_CACHE_FOLDER: ${CI_PROJECT_DIR}/.cache_yarn
  DOCKER_DRIVER: overlay2
  NETLIFY_CLI_VERSION: 0.4.0
  NODE_OPTIONS: --max-old-space-size=2048



# Gitlab's pipelines have about 3.5 minutes of overhead per stage
# see previous run: https://gitlab.com/NullVoxPopuli/emberclear/pipelines/24394951/builds
# where all the pipeline steps are split out
#
# This one stage takes on average: 6-8 minutes
# All the stages take on average: 20-25 minutes
#
# This likely due to the (un)zipping of cache
# and network transfer between gitlab and wherever cache is stored.
#
# Using a self-hosted gitlab-runner with local-to-the-runner-cache
# would be a huge win.
#
# TODO: look into free-tier IaaS machines for hosting a gitlab-runner
# the-everything-stage-for-speed:
#   stage: build
#   tags: [ docker ]
#   script:
#     # TODO: extract all this to bash script?
#     - rm -rf ./packages/frontend/{dist,tmp,node_modules,yarn.lock}
#     - ( cd ./packages/frontend && yarn install && yarn test )
#     - time ./scripts/deploy

# TODO: HACK: for now, it's faster to install everything
#       than it is to rely on gitlab's slow cache
before_script:
  - time npm install -g yarn@latest
  - time ./run yarn install

Security via Synk:
  stage: setup
  # before_script: [ ]
  script:
    - time npm install -g snyk
    - time ( cd ${CI_PROJECT_DIR}/packages/frontend && snyk test --severity-threshold=high )


Lint JS/TS:
  stage: quality
  dependencies: [ setup ]
  script:
    - time ./run yarn lint:js

Lint Templates:
  stage: quality
  dependencies: [ setup ]
  script:
    - time ./run yarn lint:hbs

Lint SCSS:
  stage: quality
  dependencies: [ setup ]
  script:
    - time ./run yarn lint:sass

Check Types:
  stage: quality
  dependencies: [ setup ]
  allow_failure: true
  script:
    - time ./run yarn tsc

All Tests:
  stage: test
  dependencies: [ setup ]
  script:
    - time ./scripts/install-chrome-apt
    - time ./run yarn test
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/packages/frontend/coverage*

# Unit Tests:
#   stage: test
#   dependencies: [ setup ]
#   script:
#     - time ./scripts/install-chrome-apt
#     - time ./run yarn test:named Unit
#   artifacts:
#     paths:
#       - ${CI_PROJECT_DIR}/packages/frontend/coverage*

# Helper Tests:
#   stage: test
#   dependencies: [ setup ]
#   script:
#     - time ./scripts/install-chrome-apt
#     - time ./run yarn test:named Helper
#   artifacts:
#     paths:
#       - ${CI_PROJECT_DIR}/packages/frontend/coverage*

# Integration Tests:
#   stage: test
#   dependencies: [ setup ]
#   script:
#     - time ./scripts/install-chrome-apt
#     - time ./run yarn test:named Integration
#   artifacts:
#     paths:
#       - ${CI_PROJECT_DIR}/packages/frontend/coverage*

# Acceptance Tests:
#   stage: test
#   dependencies: [ setup ]
#   script:
#     - time ./scripts/install-chrome-apt
#     - time ./run yarn test:named Acceptance
#   artifacts:
#     paths:
#       - ${CI_PROJECT_DIR}/packages/frontend/coverage*

Merge Coverage:
  stage: build
  dependencies:
    # - Acceptance Tests
    # - Integration Tests
    # - Helper Tests
    # - Unit Tests
    - All Tests
  script:
    - time ./run yarn merge-coverage
    - cat ${CI_PROJECT_DIR}/packages/frontend/coverage/coverage-summary.json
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/packages/frontend/coverage/

Build Production:
  stage: build
  dependencies: [ setup ]
  only: [ master ]
  script:
    # - time ./run clean:frontend-build
    - time ./run yarn build:production
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/packages/frontend/dist

Analyze Bundle:
  stage: build
  dependencies: [ setup ]
  only: [ master ]
  script:
    - time ./run yarn analyze
  artifacts:
    paths:
      - ${CI_PROJECT_DIR}/packages/frontend/public/bundle.html

Deploy Production:
  stage: deploy
  only: [ master ]
  dependencies:
    - Merge Coverage
    - Analyze Bundle
    - Build Production
  before_script: [ ]
  script:
    - mv ${CI_PROJECT_DIR}/packages/frontend/coverage public/
    - cp ${CI_PROJECT_DIR}/packages/frontend/public/bundle.html ${CI_PROJECT_DIR}/packages/frontend/dist/bundle.html
    - cp ${CI_PROJECT_DIR}/packages/frontend/public/bundle.html public/bundle.html
    - time ./scripts/publish

Deploy Docker Image:
  stage: deploy
  only: [ master ]
  image: docker
  services:
   - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
  dependencies:
   - Build Production
   - Merge Coverage
   - Analyze Bundle
  before_script: [ ]
  script:
    - ls -la ./scripts
    - time sh ./scripts/dockerhub

pages:
  stage: deploy
  only: [ master ]
  dependencies:
    - Merge Coverage
    - Analyze Bundle
  before_script: [ ]
  script:
    - mkdir -p public/$CI_COMMIT_REF_NAME
    - mv ${CI_PROJECT_DIR}/packages/frontend/coverage public/$CI_COMMIT_REF_NAME
    - mv ${CI_PROJECT_DIR}/packages/frontend/public/bundle.html public/$CI_COMMIT_REF_NAME
  artifacts:
    paths:
      - public
    expire_in: 30 days

# Setup is currently worthless, because it's faster
# to install everything at every stage than to rely on cache...
setup:
  stage: setup
  script: [ time ./run yarn install ]
