// Colors
// $primary: #650360;
// $info:    #00A4D9;
// $success: #5eadb2;
// $warning: #fce473;
// $danger:  #ed6c63;

// // Border radius
// $radius: 0;
$card-background-color: #f7f7f7;


// https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass#L46,L57
// custom breakpoints
// be divisible by 12 and 16
$gap: 32px;
$tablet: 480px;
$desktop: 768px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

@import 'fontawesome/css/fontawesome-all.min.css';
@import 'bulma';

$tablet: 480px;

@import "utility/sticky-footer";
@import "utility/centering";
@import "utility/spacing";
@import "utility/borders";
@import "utility/flex";
@import "utility/width";
@import "components/hover-tip";
@import "bulma-augmentations";

// .full-height {
//   height: 100%;
//   height: 100vh;
// }

body {
  @include sticky-footer-container;
  overflow-x: hidden;

  .sticky-footer-content {
    @include sticky-footer-content;
  }
}

.navbar-item .icon:only-child {
  margin: 0;
}


.message-list {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .messages {
    overflow-y: auto;
    min-height: auto;
    max-height: 100%;
    padding-top: 50px;
  }
}

.message {
  p { padding: 5px; }

  .message-header {
    cursor: default;

    .from {
      font-style: bold;
    }

    .sentAt {
      font-weight: lighter;
      color: lighten($grey, 20%);
    }
  }
}


.chat-entry {
  margin-bottom: 20px;

  input {
    padding-left: 10px;
    padding-right: 10px;
  }
}
