// Color Variables
// https://bulma.io/documentation/overview/variables/


// Colors
// $primary: #650360;
// $info:    #00A4D9;
// $success: #5eadb2;
// $warning: #fce473;
// $danger:  #ed6c63;

// // Border radius
// $radius: 0;
$card-background-color: #f7f7f7;


// https://github.com/jgthms/bulma/blob/master/sass/utilities/initial-variables.sass#L46,L57
// custom breakpoints
// be divisible by 12 and 16
$gap: 32px;
$tablet: 480px;
$desktop: 768px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);
$radius-small: 0.2rem;

$box-shadow: 0 0 2px 2px rgba(0,0,0,0.12);
$dropdown-content-shadow: $box-shadow;
$dropdown-content-radius: $radius-small;

$navbar-dropdown-radius: $radius-small;
$navbar-dropdown-boxed-shadow: $box-shadow;

@import 'node_modules/bulma/bulma';

$tablet: 480px;

@import "utility/sticky-footer";
@import "utility/centering";
@import "utility/spacing";
@import "utility/borders";
@import "utility/flex";
@import "utility/width";
@import "utility/events";
@import "utility/transitions";
@import "utility/position";
@import "components/hover-tip";
@import "components/messages";
@import "components/sidebar";
@import "bulma-augmentations";
@import "scrollbar";

// .full-height {
//   height: 100%;
//   height: 100vh;
// }

body {
  @include sticky-footer-container;
  overflow-x: hidden;

  .sticky-footer-content {
    @include sticky-footer-content;
  }
}

.not-allowed {
  cursor: not-allowed !important;
}

.is-fullheight {
  height: 100vh;
}
.h-100 {
  height: 100%;
}

.underline {
  text-decoration: underline;
}

.overflows {
  // overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.no-overflow {
  overflow: hidden;
}

.thumbnail-container {
  width: 100px;
  // height: 100px;
  .thumbnail {
    width: 100px;
    height: auto;
    display: block;
  }
}

.shareable-url {
  overflow-x: auto;
  padding: 10px 5px;

  a {
    white-space: nowrap;
  }

  &.wrap {
    a {
      white-space: initial;
      word-wrap: break-word;
    }
  }
}

.has-resize-disabled {
  resize: none;
}

.sticky {
  position: sticky;
}

.notices {
  position: fixed;
  top: 52px;
  right: 0;
  z-index: 40;
}

.navbar-item .icon:only-child {
  margin: 0;
}

.navbar-item .chat-name, .navbar-item.chat-name {
  font-weight: bold;
  border-left: 1px solid $white-ter;
}

.chat-container {
  max-height: calc(100% - 50px);
}

.chat-entry {
  textarea {
    padding-left: 10px;
    padding-right: 10px;

    &[role='chat-entry'] {
      resize: none;
    }

    &[role='snippet-entry'], &.snippet-entry {
      min-height: 10rem;
    }
  }
}

pre {
  max-height: 200px;
  overflow: auto;
}

.key {
  color: black;
  background: #dfdfdf;
  padding: 0.1rem 0.5rem;
  box-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  font-style:initial;
  text-shadow: 0.1rem 0.1rem 0 white;
  border: 1px solid gray;
}


.resizable-textarea {
textarea, .textarea-size {
    max-height: 7rem;
  overflow: hidden;
  width: 100%;
}

  textarea {
  height: 100%;
  position: absolute;
  resize:none;
  white-space: normal;
  }

  .textarea-size {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
