// https://github.com/jgthms/bulma/blob/master/sass/components/navbar.sass
.container {
  width: auto !important;
}
.navbar {
  transition-property: all;
  transition-duration: 0.2s;

  &.has-shadow {
    box-shadow: $box-shadow;
  }

  a {
    color: $navbar-item-color;
    transition-property: all;
    transition-duration: 0.2s;
  }

  &.is-primary {
    a.navbar-burger {
      color: white;
    }

    > a.navbar-item {
      color: white;
    }
  }

  .navbar-brand a:active,
  .navbar-brand a:focus,
  .navbar-brand a:hover {
    color: $navbar-item-color;
  }

  .navbar-dropdown {
    min-width: 150px;

    &.dropdown-right { left: -100px; }
  }
}

.modal {
  transition-property: all;
  transition-duration: 1s;

  .modal-content, .modal-background, .box {
    transition-property: all;
    transition-duration: 1s;
  }
}

@include desktop {
  .navbar-dropdown {
    // box-shadow: $navbar-dropdown-boxed-shadow;
  }
}

.card.small {
  .card-header {
    .card-header-title {
      font-weight: normal;
      font-style: italic;
      padding: 2px 5px;
    }
    .card-header-icon {
      padding: 2px 5px;
    }
  }
  .card-content {
    padding: 5px;
  }
}


pre code .number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: initial;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}

.message:hover {
  background: #fbfbfb;
}
