// https://github.com/jgthms/bulma/blob/master/sass/components/navbar.sass
.container {
  width: auto !important;
}

a {
  &:focus {
    background-color: whitesmoke;
    outline: none;
    border: 1px solid lightgray;

    &:hover {
      background-color: darken(whitesmoke, 5%);
    }
  }

}

.navbar {
  transition-property: all;
  transition-duration: 0.2s;

  &.has-shadow {
    box-shadow: $box-shadow;
  }

  a {
    color: $navbar-item-color;
    transition-property: all;
    transition-duration: 0.2s;
  }

  &.is-primary {
    a.navbar-burger  {
      color: $navbar-item-color;
    }

    > a.navbar-item {
      color: $navbar-item-color;
    }

    .navbar-brand a,
    .navbar-brand a:active,
    .navbar-brand a:focus,
    .navbar-brand a:hover {
      color: white;
    }

    .navbar-item {
      .dropdown-trigger {
        a.button.is-primary {
          background: white;
          color: black;
        }
      }
    }
  }

  .navbar-brand a:active,
  .navbar-brand a:focus,
  .navbar-brand a:hover {
    color: $navbar-item-color;
  }

  .navbar-dropdown {
    min-width: 150px;

    border-top: none;
  }
}

.modal {
  transition-property: all;
  transition-duration: 1s;

  .modal-content, .modal-background, .box {
    transition-property: all;
    transition-duration: 1s;
  }
}

@include desktop {
  .navbar-dropdown {
    // box-shadow: $navbar-dropdown-boxed-shadow;
  }
}

.card.small {
  .card-header {
    .card-header-title {
      font-weight: normal;
      font-style: italic;
      padding: 2px 5px;
    }
    .card-header-icon {
      padding: 2px 5px;
    }
  }
  .card-content {
    padding: 5px;
  }
}


pre code .number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: initial;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}

.hero.is-large {
  height: calc(100vh - 52px);
  justify-content: center;
  align-items: center;

  .hero-body {
    padding: 2rem;
    flex-grow: 0;
  }
}

.tag.is-small {
  font-size: 0.65rem;
  height: 1rem;
  width: auto;
  min-width: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
