// https://github.com/jgthms/bulma/blob/master/sass/components/navbar.sass
.navbar {
  transition-property: all;
  transition-duration: 0.2s;

  a {
    color: $navbar-item-color;
    transition-property: all;
    transition-duration: 0.2s;
  }

  &.is-primary {
   a.navbar-burger {
     color: white;
   }
 }
}

.modal {
  transition-property: all;
  transition-duration: 1s;

  .modal-content, .modal-background, .box {
    transition-property: all;
    transition-duration: 1s;
  }
}
