<aside ...attributes>
  <div>
    {{#if this.hasUnreadAbove}}
      <App::Sidebar::UnreadIndicator
        @onClick={{this.scrollUpToNearestUnread}}
        @direction='up'
      />
    {{/if}}

    <App::Sidebar::Chats />

    {{!-- <SlideTransition @isVisible={{this.hasUnreadBelow}}> --}}
    {{#if this.hasUnreadBelow}}
      <App::Sidebar::UnreadIndicator
        @onClick={{this.scrollDownToNearestUnread}}
        @direction='down'
      />
    {{/if}}

  </div>

  <App::Sidebar::Actions />

  {{#if this.isLoggedIn}}
    <App::Sidebar::Footer />
  {{/if}}
</aside>
