.has-background-color {
  background: $background;
}

.has-background-none {
  background-color: transparent;
}

.has-sidebar-background-color {
  background: $sidebar-background;
}

.has-hover-highlight:hover {
  background: whitesmoke;
}
