.card {
  min-width: 300px;
  border-radius: var(--component-border-radius);
  /* box-shadow: var(--shadow); */

  @apply --transition-all;

  & header {
    /* border-top-right-radius: var(--component-border-radius); */
    /* border-top-left-radius: var(--component-border-radius); */
    padding: var(--spacing-sm) var(--spacing-md);
    /* background: var(--state-danger); */
    /* color: var(--state-light); */
    color: var(--state-danger);
  }

  & p {
    margin: 0;
    padding: var(--spacing-sm) var(--spacing-md);
    font-style: italic;
  }

  & footer {
    padding: var(--spacing-md);
    padding-top: 0;
  }
}
