.chat-entry-container {
  @apply --grid;
  @apply --grid-stretch;

  background: var(--chat-entry-bg-color);
  border-radius: var(--component-border-radius);
  padding: var(--grid-gap);
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  grid-template-columns: auto 1fr auto;

  & .dropdown-trigger {
    &::after {
      display: none;
    }
  }
}

.chat-entry {
  @apply --grid;
  @apply --grid-stretch;

  grid-template-columns: 1fr auto;

  & .input-field {
    margin: 0;
  }

  & textarea {
    border: none;
    background: transparent;
    box-shadow: none;
    resize: none;
    line-height: var(--line-height);
    box-sizing: border-box;
    height: var(--line-height) rem; /* inital */
    max-height: 12rem; /* 10x line-height */

    /* required for line breaks to render correctly during authoring */
    white-space: pre-wrap;
  }
}
