form.chat-entry {
  background: var(--chat-entry-bg-color);
  border-radius: var(--component-border-radius);
  padding: var(--grid-gap);
  box-shadow: inset 0 2px 2px 0px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  grid-gap: var(--grid-gap);

  align-items: center;
  justify-content: stretch;

  & .input-field {
    margin: 0;
  }

  & textarea {
    border: none;
    background: transparent;
    box-shadow: none;
    resize: none;
    height: var(--chat-entry-line-height);
    line-height: var(--line-height);
    box-sizing: unset;
    max-height: 12rem; /* 10x line-height */
  }

  & .dropdown-trigger {
    &:after {
      display: none;
    }
  }
}
