.chat-container {
  height: calc(100vh - var(--top-nav-height));

  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0 var(--grid-gap);
  padding-bottom: var(--grid-gap);
  overflow: hidden;

  & .chat-entry-container {
    align-self: end;
  }

  & .message-list {
    flex: 1 1 0%;
    display: flex;
    position: relative;

    /* align-self: end; */
    overflow: hidden;
    padding-bottom: var(--grid-gap);

    & .messages {
      @apply --grid;

      flex-grow: 1;
      overflow-y: auto;
    }
  }
}

.message {
  @apply --grid;
  @apply --grid-stretch;

  position: relative;
  background-color: transparent;
  border-radius: var(--component-border-radius);
  padding: var(--grid-gap);


  &:hover {
    background: var(--chat-message-hover-color);
  }

  &.unread {
    background-color: #f1f1fa;
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }

  & p {
    margin: 0;
  }

  & .confirmations {
    font-size: 0.8rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0rem;
    svg {
      opacity: 0.5;
    }
  }

  & .message-body {
    border: none;
    background-color: transparent;
  }

  & .message-header {
    @apply --column-grid;
    @apply --grid-space-between;

    background-color: transparent;
    cursor: default;

    & .from {
      font-style: bold;
      font-size: 0.9rem;
      text-decoration: underline;
      color: var(--chat-message-sender-name);

      & a {
        color: var(--chat-message-sender-name);
      }
    }

    & .sentAt {
      font-weight: lighter;
      font-size: 0.75rem;
      color: var(--chat-message-sent-at);
    }
  }
}

.embedded-resource {
  margin: 5px;
  & img, & iframe {
    max-width: 480px;
    max-height: 270px;
  }
}

a.new-messages {
  @apply --no-select;

  position: absolute;
  bottom: 10px;
  left: var(--grid-gap);
  opacity: 1;
  z-index: 1;
  border-width: 0;
  border-radius: var(--component-border-radius);
  color: var(--chat-new-messages-notice-color);
  background: var(--chat-new-messages-notice-bg-color);
  box-shadow: var(--shadow);
  margin: 0;

  &.hidden {
    /* TODO: use ember-animated */
    bottom: 50px;
    opacity: 0;
    z-index: -1;
  }

  & span + span {
    text-decoration: underline;
  }

}
