.chat-container {
  height: calc(100vh - var(--top-nav-height));

  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0 var(--grid-gap);
  padding-bottom: var(--grid-gap);
  overflow: hidden;

  & .chat-entry-container {
    align-self: end;
  }

  & .message-list {
    flex: 1 1 0%;
    display: flex;
    position: relative;

    /* align-self: end; */
    overflow: hidden;

    & .messages {
      flex-grow: 1;
      display: grid;
      grid-gap: var(--grid-gap);

      overflow-y: auto;
    }
  }
}

.message {
  position: relative;
  background-color: transparent;
  display: grid;
  justify-content: stretch;
  grid-gap: var(--grid-gap);
  align-items: center;
  border-radius: var(--component-border-radius);


  &:hover {
    background: var(--chat-message-hover-color);
  }

  &.unread {
    background-color: #f1f1fa;
  }

  &.justify-received {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &.justify-sent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }

  & p {
    margin: 0;
  }

  & .confirmations {
    font-size: 0.8rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0rem;
    svg {
      opacity: 0.5;
    }
  }

  & .message-body {
    border: none;
    background-color: transparent;
  }

  & .message-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    background-color: transparent;
    cursor: default;

    & .from {
      font-style: bold;
      font-size: 0.9rem;
      text-decoration: underline;
    }

    & .sentAt {
      font-weight: lighter;
      font-size: 0.75rem;
      color: var(--chat-message-sent-at);
    }
  }
}

.embedded-resource {
  margin: 5px;
  & img, & iframe {
    max-width: 480px;
    max-height: 270px;
  }
}

a.new-messages {
  position: absolute;
  bottom: 10px;
  left: var(--grid-gap);
  opacity: 1;
  z-index: 1;
  border-width: 0;
  border-radius: var(--component-border-radius);
  color: var(--state-light);
  box-shadow: var(--shadow);
  margin: 0;

  &.hidden {
    /* TODO: use ember-animated */
    bottom: 50px;
    opacity: 0;
    z-index: -1;
  }

  & span + span {
    text-decoration: underline;
  }

}
