.snippet-title-bar {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-auto-flow: column;

  padding-bottom: var(--grid-gap);
}

.snippet-entry {
  min-height: 10rem;
  margin-bottom: var(--grid-gap);
}
