.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000000;


  display: none;
  justify-content: center;
  align-items: center;

  &.is-active {
    display: flex;
  }

  & .modal-content {
    z-index: 1;
    transition: all 2s ease 0s;
    margin: 0 var(--grid-gap);
    overflow: auto;
    position: relative;
    background: var(--modal-content-bg);
    padding: var(--grid-gap);
    border-radius: var(--component-border-radius);
    box-shadow: var(--modal-shadow);

    animation: slide-up-fade-in 0.2s;
  }

}

.full-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: fadein 0.5s;
  background-color: var(--modal-overlay-color);
  opacity: 0;

  &.active {
    display: block;
    opacity: 1;
  }

  &.invisible {
    background-color: transparent;
    display: block;
  }
}

