.qr-scanner_container {
  width: 100%;
  height: 300px;
  overflow: hidden;

  & .qr-scanner_error {
    @apply --grid;

    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;

    & span {
      align-self: center;
      justify-self: center;
    }
  }

  .loader {
    width: 250px;
    height: 250px;
  }
}
