aside {
  background: var(--state-light);
  padding: var(--grid-gap);
  grid-gap: var(--grid-gap);

  user-select: none;

  position: fixed;
  top: var(--top-nav-height);
  bottom: 0;
  width: 256px;
  overflow-y: auto;
  z-index: 0;
  display: none;
  left: 0;


  /*
  The sidebar is broken up into two sections:
   - top (most things you'd care about)
   - bottom (logout)
  */

  &.active {
    display: grid;
  }

  /* the top */
  & div:first-child {
    & .menu-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: var(--grid-gap);

      & a:first-child {
        padding-left: 0;
      }
    }


    & .menu-label {
      & a.button-xs,
      & button.button-xs {
        height: var(--button-height-sm);
      }
    }


    & nav {
      &.contacts,
      &.channels {
        padding-bottom: var(--grid-gap);

      }

      & a {
        display: grid;
        grid-auto-flow: column;
        grid-gap: var(--grid-gap);
        align-items: center;
        justify-content: start;

        padding: var(--grid-gap-small) var(--grid-gap);
        border-radius: var(--button-border-radius);


        &.is-active {
          background: var(--sidebar-nav-active-color);
        }

        & > span {
          display: grid;
          grid-auto-flow: column;
          grid-gap: var(--grid-gap);
          align-items: center;
          justify-content: start;
        }
      }

      & em.offline {
        color: var(--sidebar-hint-text);
        padding-left: var(--grid-gap);
      }
    }
  }

  /* the bottom */
  & div + div {
    align-self: end;

    & a {
      display: block;
      padding-left: var(--grid-gap);
      padding-right: var(--grid-gap);
    }
  }
}

main {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  margin-top: var(--top-nav-height);
  min-height: calc(100vh - var(--top-nav-height));
  z-index: 1;
  position: relative;

  &.sidebar-open {
    left: 256px;
    width: calc(100vw - 256px);
  }
}


/*
 * on the sm up breakpoint, find a way to
 * fix the width of the of the main content area
 *
 */
@media (--breakpoint-sm-up) {
}

