aside {
  @apply --transition-all;

  background: var(--state-light);
  padding: var(--grid-gap);
  grid-gap: var(--grid-gap);

  user-select: none;

  position: fixed;
  top: var(--top-nav-height);
  bottom: 0;
  width: var(--sidenav-width);
  overflow-y: auto;
  z-index: 0;
  display: grid;

  /*
  The sidebar is broken up into two sections:
   - top (most things you'd care about)
   - bottom (logout)
  */

  &.active {
    display: grid;
  }

  /* the top */
  & div:first-child {
    & .menu-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: var(--grid-gap);

      & a:first-child {
        padding-left: 0;
      }
    }


    & .menu-label {
      & a.button-xs,
      & button.button-xs {
        height: var(--button-height-sm);
      }
    }


    & nav {
      &.contacts,
      &.channels {
        padding-bottom: var(--grid-gap);

      }

      & a {
        display: grid;
        grid-auto-flow: column;
        grid-gap: var(--grid-gap);
        align-items: center;
        justify-content: start;

        padding: var(--grid-gap-small) var(--grid-gap);
        border-radius: var(--button-border-radius);


        &.is-active {
          background: var(--sidebar-nav-active-color);
        }

        & > span {
          display: grid;
          grid-auto-flow: column;
          grid-gap: var(--grid-gap);
          align-items: center;
          justify-content: start;
        }
      }

      & em.offline {
        color: var(--sidebar-hint-text);
        padding-left: var(--grid-gap);
      }
    }
  }

  & footer {
    align-self: end;
    & div {
      @apply --column-grid;

      & nav {
        align-self: end;
        @apply --column-grid;
      }
    }
  }
}

main {
  @apply --transition-touch;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  margin-top: var(--top-nav-height);
  max-height: calc(100% - var(--top-nav-height));
  z-index: 1;
  overflow-y: auto;
  position: relative;
  left: 0;
  width: 100vw;
  background-color: var(--body-bg-color);

  /* transform: translateX(calc(var(--dx, 0))); */

  &.sidebar-open {
    left: var(--sidenav-width);

    &[style*="transform"] {
      left: unset;
    }
  }

  & section {
    min-height: calc(100vh - var(--top-nav-height));
  }
}


/*
 * on the sm up breakpoint, find a way to
 * fix the width of the of the main content area
 *
 */
@media (--breakpoint-md-up) {
  aside {
    left: calc(0 - var(--sidenav-width));

    &.active {
      left: 0;

    }
  }

  main {
    &.sidebar-open {
      width: calc(100vw - var(--sidenav-width));
    }
  }
}

