.sidebar-container {
  position: fixed;
  background: $sidebar-background;
  z-index: 29;
  box-shadow: $box-shadow;
  min-width: 250px;


  &.is-sidebar-hidden {
    left: -300px;
  }

  &.is-sidebar-visible {
    left: 0;

    .sidebar-buttons {
      border-right: 1px solid darken($sidebar-background, 10%);
    }
  }

  .sidebar-buttons {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 52px;
    width: 3.25rem;
    z-index: 31;
    background: $sidebar-background;
  }

  aside {
    height: 100vh;
    overflow-y: auto;
  }

  .sidebar-wrapper {
    width: 100%;
    z-index: 30;

    .menu-label {
      position: sticky;
      top: 0px;
      background: white;
      z-index: 1;
      padding-bottom: 8px;
      // padding-top: 8px;
    }
  }

  .sidebar-underlay {
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.12);
    z-index: 29;
  }


  .offcanvas-trigger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 31;
  }
}


@include mobile {
  .sidebar-container {
    top: 0px;
    z-index: 31;

    &.is-sidebar-visible {
      .sidebar-underlay {
        visibility: visible;
        opacity: 1;
      }
    }

    .offcanvas-trigger {
      display: none;
    }
  }
}

@include tablet-only {
  .sidebar-container {
    min-width: 240px;
    top: 0px;
    z-index: 31;
  }
}

@include desktop {
  .sidebar-container {
    position: static;
    @include default-transition;

    .sidebar-wrapper {
      width: 100%;
      @include default-transition;
    }

    .sidebar-buttons {
      display: block;
    }

    &.is-sidebar-hidden {
      min-width: 3.25rem;
      width: 3.25rem;

      .sidebar-wrapper {
        margin-left: -100%;
      }
    }

    &.is-sidebar-visible {
      left: 3.25rem;
      min-width: 16rem;
      width: 16rem;

      .sidebar-wrapper {
        margin-left: 3.25rem;
      }
    }
  }
}
