<div class='navbar'>
    <div class='container'>
        <div class='navbar-brand'>
            {{#link-to 'application' class='navbar-item'}}
              {{t 'appname'}}
            {{/link-to}}
            <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                {{#link-to 'chat' class='navbar-item'}}
                    {{t 'routes.chat'}}
                {{/link-to}}

                {{#link-to 'settings' class='navbar-item'}}
                    <span class='icon'>
                        <i class='fas fa-user-circle'></i>
                    </span>
                    {{t 'routes.profile'}}
                {{/link-to}}
            </div>
        </div>
    </div>
</div>
