.full-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  opacity: 0;
  visibility: hidden;

  @include default-transition;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &.invisible {
    opacity: 1;
    visibility: visible;
    cursor: default !important;
  }
}

.p-absolute {
  position: absolute;

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.center-x {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &.span {
    left: 0;
    right: 0;
  }

  &.base-z {
    z-index: 1;
  }
}

