{{#if this.shouldRender}}
  <div
    data-test-unread-floater
    class='unread-indicator'
    ...attributes
  >
    <div class='input-group has-shadow'>
      <button
        data-test-scroll-to-unread
        type='button'
        class='button-sm'
        {{on 'click' this.scrollToFirstUnread}}
        >
        <span>
          {{t 'ui.chat.unreadMessages'
            number=this.numberOfUnread
            time=(
              format-date this.dateOfFirstUnreadMessage
              month='short'
              day='numeric'
              hour='numeric'
              minute='numeric'
            )
          }}
        </span>
      </button>
      <button
        data-test-mark-all-read
        type='button'
        class='button-sm button-danger'
        {{on 'click' this.markAllAsRead}}
        >
        <span>{{t 'ui.chat.markAllAsRead'}}</span>
      </button>
    </div>
  </div>
{{/if}}
