{{#if this.currentUser.isLoggedIn}}
  <App::Sidebar
    class='sidebar-wrapper'
    id='sidebar'
    {{on-key 'ctrl+space' this.sidebar.toggle}}
  />
{{/if}}


<main
  id='scrollContainer'
  data-scroll-container
  {{did-insert this.onInsert}}
  {{did-update this.onInsert this.currentUser.isLoggedIn}}
>
  {{yield}}
</main>
