<!DOCTYPE html>
<html lang='en' class='no-scrolling'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>emberclear</title>
    <meta name="description" content="emberclear is a privacy-first, end-to-end encrypted, chat. no phone numbers. no history or message storage. you are in control.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <meta name="robots" content="index, follow" />
    <meta name='keywords' content='emberclear, chat, ember, javascript, typescript, concurrency, privacy, secure, private, decentralized'>


    {{content-for "head"}}

    {{content-for "head-footer"}}
    <style>
      @keyframes spinAround {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    </style>
    <script>
      window.deferredInstallPrompt = null;

      function captureInstallPrompt() {
        if (!window || typeof window.addEventListener !== 'function') return;

        window.addEventListener('beforeinstallprompt', (event) => {
          event.preventDefault();
          window.deferredInstallPrompt = event;
        });
      }

      captureInstallPrompt();
    </script>
  </head>


  <body>

    {{content-for "body"}}

    <div id='app-loader'
      style='
      z-index: 1000;
      background: #333344; color: white;
      position: fixed; top: 0; left: 0; right: 0; bottom: 0;
      display: flex;
      padding-top: 13px; /* adjust this for vertical alignment */
      flex-direction: column;
      justify-content: center;
      overflow-y: scroll;
      align-items: center;'>

      <div
        style='
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
          top: 0;
          left: 0;
          right: 0;
          z-index: 1001;
          position: fixed;
          height: 50px;
          background: white;
        '
       ></div>

      <h1
        style='
          margin-top: 0;
          margin-bottom: 0.5rem;
          font-size: 2.5rem;
          font-weight: 300;
          line-height: 1.1;
          font-family: -apple-system, system-ui, BlinkMacSystemFont,
             "Segoe UI", Roboto, "Helvetica Neue",
             Ubuntu, Arial, sans-serif;
        '>
        emberclear
      </h1>

      <p
        style='
          margin-top: 0;
          margin-bottom: 1.5rem;
          font-weight: 400;
          font-family: -apple-system, system-ui, BlinkMacSystemFont,
             "Segoe UI", Roboto, "Helvetica Neue",
             Ubuntu, Arial, sans-serif;
        '
      >
        Encrypted Chat. No History. No Logs.
      </p>
      <br>

      <div
        style='
          position: fixed;
          bottom: 100px;
          width: 50px; height: 50px;
          animation: spinAround 500ms infinite linear;
          border: 2px solid #dbdbdb;
          border-radius: 290486px;
          border-right-color: transparent;
          border-top-color: transparent;
          content: "";
          display: block;
        '>
      </div>
    </div>

    <link async rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link async rel="stylesheet" href="{{rootURL}}assets/emberclear.css">
    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/emberclear.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
