$primary: #333344;
$background: #f5f5f5;

$red: hsl(348, 100%, 41%);
// $info: $
// $button-color: #333344 !important;
$button-background-color: hsl(253, 84%, 53%);
$button-disabled-background-color: hsl(253, 84%, 73%);
$button-border-color: hsl(253, 84%, 43%);

$sidebar-background: lighten($background, 50%);
$card-background-color: #f7f7f7;
