<ul class='list:flat'>
  {{#each this.players as |player|}}
    <li>
      {{player.name}}

      {{#if (eq this.currentName player.name)}}
        &nbsp;(you)
      {{/if}}
    </li>
  {{/each}}
</ul>
