{{!-- User List Component
Channel List Component --}}

<div class='container w-100 flex-grow flex-column align-items-stretch'>
    {{chat-history class='flex-grow flex-column'}}

    <div class=''>
      {{message-entry messages=model.messages}}
    </div>
</div>
