{{!-- User List Component
Channel List Component --}}
<div class='container flex-grow flex-column'>

  <div class='flex-grow'>
    {{chat-history}}
  </div>

  <div class=''>
    {{message-entry}}
  </div>
</div>
