FAQ

What is emberclear?

<p>
    EmberClear is the open source p2p encrypted chat 
    client that operates over open source 
    mesh nodes on free-tier cloud services.
</p>

How does it work?

Why?