.has-hover-tip {
  position: relative;

  &:hover {
    .hover-tip {
      opacity: 1;
      bottom: 20px;
    }
  }

  .hover-tip {
    &:hover {
      opacity: 1;
    }

    &.w-left-200 {
      width: 200px;
      left: -200px;
    }
  }
}

.has-status-tip {
  position: relative;

  &.is-active {
    .hover-tip {
      opacity: 1;
    }
  }
}

.hover-tip {
  opacity: 0;
  color: black;
  z-index: 10;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 5px;
  border-radius: 2px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.5s;
  box-shadow: 0 $radius-small $radius-small rgba(0,0,0, 0.5);

  &.overlay {
    bottom: 0;
    right: 0;
  }
}

// custom animations...
.has-status-tip.is-active, .has-hover-tip:hover {
  .floats-up {
    bottom: 50px;
  }
}
