.message-list {
  flex: 1 1 0%;
  display: flex;
  position: relative;

  .messages {
    // overflow-y: auto;
    // min-height: auto;
    // max-height: 100%;
    // padding-top: 50px;
  }
}

.message {
  position: relative;
  background-color: transparent;

  &:hover {
    background: lighten($background, 5);
  }

  &.unread {
    background-color: #f1f1fa;
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }

  p { padding: 5px; }

  .confirmations {
    font-size: 0.8rem;
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    svg {
      opacity: 0.5;
    }
  }

  .message-body {
    border: none;
    background-color: transparent;
  }

  .message-header {
    color: $text;
    padding: 5px;
    background-color: transparent;
    cursor: default;

    .from {
      font-style: bold;
    }

    .sentAt {
      font-weight: lighter;
      color: lighten($grey, 20%);
    }
  }
}

.embedded-resource {
  margin: 5px;
  img, iframe {
    max-width: 480px;
    max-height: 270px;
  }
}

.new-messages {
  position: absolute;
  background: $info;
  box-shadow: $box-shadow;
  color: findColorInvert($blue);
  border-radius: 2px;
  bottom: 10px;
  left: 15px;

  &.hidden {
    // TODO: use ember-animated
    bottom: -150px;
  }

  a {
    color: findColorInvert($blue);
  }

}
