.message-list {
  flex: 1 1 0%;
  display: flex;
  position: relative;

  .messages {
    // overflow-y: auto;
    // min-height: auto;
    // max-height: 100%;
    // padding-top: 50px;
  }
}

.message {
  background-color: transparent;

  &:hover {
    background: $white-ter;
  }

  &:not(:last-child) {
    margin-bottom: 0;
  }

  p { padding: 5px; }

  .message-body {
    border: none;
    background-color: transparent;
  }

  .message-header {
    color: black;
    padding: 5px;
    background-color: transparent;
    cursor: default;

    .from {
      font-style: bold;
    }

    .sentAt {
      font-weight: lighter;
      color: lighten($grey, 20%);
    }
  }
}

.embedded-resource {
  margin: 5px;
  img, iframe {
    max-width: 480px;
    max-height: 270px;
  }
}

.new-messages {
  position:absolute;
  background: $info;
  box-shadow: $box-shadow;
  color: findColorInvert($blue);
  border-radius: 2px;
  bottom: 10px;
  left: 15px;

  &.hidden {
    bottom: -50px;
  }

  a {
    color: findColorInvert($blue);
  }

}
