.message-list {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .messages {
    overflow-y: auto;
    min-height: auto;
    max-height: 100%;
    padding-top: 50px;
  }
}

.message {
  background-color: transparent;

  &:hover {
    background: $white-ter;
  }

  p { padding: 5px; }

  .message-body {
    background-color: transparent;
  }

  .message-header {
    color: black;
    padding: 5px;
    background-color: transparent;
    cursor: default;

    .from {
      font-style: bold;
    }

    .sentAt {
      font-weight: lighter;
      color: lighten($grey, 20%);
    }
  }
}
