.sidebar-container {
  background: white;
  z-index: 29;
  box-shadow: $box-shadow;
  min-width: 250px;

  &.is-sidebar-visible {
    left: 0px;
  }

  &.is-sidebar-hidden {
    left: -250px;
    // box-shadow: 0 0 0;
  }

  aside {
    height: 100vh;
  }
}

@include mobile {
  .sidebar-container {
    position: fixed;
    top: 54px;
    min-width: 200px;

    &.is-sidebar-hidden {
      left: -200px;
    }
  }
}

@include tablet {
  .sidebar-container {
    position: fixed;
    top: 54px;
  }
}

@include desktop {
  .sidebar-container {
    position: static;
    @include default-transition;

    .sidebar-wrapper {
      width: 100%;
      @include default-transition;
    }

    .fixed-to-side-for-sidebar {
      width: 3.25rem;
    }

    &.is-sidebar-hidden {
      min-width: 3.25rem;
      width: 3.25rem;

      .sidebar-wrapper {
        margin-left: -600%;
      }
    }

    &.is-sidebar-visible {
      min-width: inherit;
      width: 16rem;

      .sidebar-wrapper {
        margin-left: 0rem;
      }
    }
  }
}
