.sidebar-container {
  background: white;
  z-index: 29;
  box-shadow: $box-shadow;
  min-width: 250px;

  &.is-sidebar-visible {
    left: 0px;
  }

  &.is-sidebar-hidden {
    left: -270px;
    // box-shadow: 0 0 0;
  }

  aside {
    height: 100vh;
  }

  .sidebar-wrapper {
    width: 100%;
    z-index: 30;
  }

  .sidebar-underlay {
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.12);
    z-index: 29;
  }
}


@include mobile {
  .sidebar-container {
    position: fixed;
    min-width: 240px;
    top: 0px;
    z-index: 31;

    &.is-sidebar-visible {
      .sidebar-underlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@include tablet-only {
  .sidebar-container {
    position: fixed;
    min-width: 240px;
    top: 0px;
    z-index: 31;

    .fixed-to-side-for-sidebar {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 31;
    }
  }
}

@include desktop {
  .sidebar-container {
    position: static;
    @include default-transition;

    .sidebar-wrapper {
      width: 100%;
      @include default-transition;
    }

    .fixed-to-side-for-sidebar {
      width: 3.25rem;
    }

    &.is-sidebar-hidden {
      min-width: 3.25rem;
      width: 3.25rem;

      .sidebar-wrapper {
        margin-left: -600%;
      }
    }

    &.is-sidebar-visible {
      min-width: inherit;
      width: 16rem;

      .sidebar-wrapper {
        margin-left: 0rem;
      }
    }
  }
}
