name: Frontend Tests
on:
  pull_request:
    branches: [master]
    # paths:
    #   - 'packages/frontend/*'

jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        # os: [ubuntu-latest, macOS-latest, windows-latest]
        # browsers: [chrome, firefox, safari, edge]
        ci_browser: [Chrome, Firefox]
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install
      run: ./run yarn install
    - name: Install Code Coverage Reporter
      env:
        CC_URL: https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
      run: |
        cd packages/frontend \
        curl -L $CC_URL > ./cc-test-reporter
        chmod +x ./cc-test-reporter
    - name: Test
      env:
        CI_BROWSER: ${{ matrix.ci_browser }}
        COVERAGE: true
      run: |
        cd packages/frontend \
        ./cc-test-reporter before-build
        time ./run yarn test
        ./cc-test-reporter after-build -t lcov --exit-code $? coverage/lcov.info

  bundle_analysis:
    name: Bundle Analysis
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install
      run: ./run yarn install
    - name: Analyze Bundle
      run: ./run yarn analyze

  tests_visual:
    name: Visual Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install
      run: ./run yarn install
    - name: Test
      if: github.event == 'pull_request'
      env:
        PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      run: PERCY_ENABLE=1 time ./run yarn test --filter Acceptance

  tests_e2e:
    name: E2E Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Test
      run: |
        cd packages/smoke-tests \
        && yarn \
        && yarn test --target pull-request --headless
