name: Web App Deploy
on:
  push:
    branches: [master]
    paths:
    - 'client/web/**'

env:
  cwd: client/web/emberclear

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v2
    - uses: volta-cli/action@v1

    - name: Install
      working-directory: ${{ env.cwd }}
      run: yarn install

    - name: Test
      working-directory: ${{ env.cwd }}
      env:
        PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      # run: ./scripts/test-with-coverage.sh
      run: yarn ember test

    # Coverage Disabled while these are worked out:
    # https://github.com/babel/ember-cli-babel/issues/350
    # https://github.com/kategengler/ember-cli-code-coverage/issues/265
    # - name: Upload Coverage to Coveralls
    #   uses: coverallsapp/github-action@v1.0.1
    #   with:
    #     github-token: ${{ secrets.github_token }}
    #     path-to-lcov: ./client/web/emberclear/coverage/lcov.info

    # - name: Upload Coverage Artifacts
    #   uses: actions/upload-artifact@v1
    #   with:
    #     name: coverage
    #     path: client/web/emberclear/coverage/

  deploy:
    name: Deploy to Netlify
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs:
    - tests

    steps:
    - uses: actions/checkout@v2
    - uses: volta-cli/action@v1

    # - name: Download Coverage Artifacts
    #   uses: actions/download-artifact@v1
    #   with:
    #     name: coverage
    #     path: client/web/emberclear/coverage/

    - name: Install
      working-directory: ${{ env.cwd }}
      run: yarn install

    - run: yarn global add netlify-cli
    - name: Deploy to Netlify
      env:
        FRONTEND: client/web/emberclear
        NETLIFY_ACCESS_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
      run: |
        COVERAGE_DIR="client/web/emberclear/coverage"

        if [ -d "$COVERAGE_DIR" ]; then
          mv $COVERAGE_DIR client/web/emberclear/public/
        fi

        ( cd client/web/emberclear \
          && time yarn analyze \
          && time yarn build:production
        )

        time ./scripts/publish

    - name: Upload Built Asset Artifacts
      uses: actions/upload-artifact@master
      with:
        name: frontend-assets
        path: client/web/emberclear/dist/

  deploy_docker:
    name: Deploy Docker Image
    runs-on: ubuntu-latest
    needs: [tests, deploy]
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v2
    - name: Download Built Asset Artifacts
      uses: actions/download-artifact@master
      with:
        name: frontend-assets
        path: client/web/emberclear/dist/

    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: nullvoxpopuli/emberclear
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        snapshot: true
        workdir: client/web/emberclear
        dockerfile: Dockerfile.release

  tests_e2e:
    name: E2E Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: [deploy]

    steps:
    - uses: actions/checkout@v2
    - uses: volta-cli/action@v1

    - name: Test
      run: |
        cd client/web/smoke-tests \
        && yarn \
        && yarn test --headless


# Deploy via Script (requires docker environment on VM)
#     - uses: actions/docker/cli@master
#     - name: Publish to DockerHub
#       env:
#         DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
#         DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
#         # DOCKER_HOST: tcp://docker:2375/
#         # DOCKER_DRIVER: overlay2
#       run: sh ./scripts/dockerhub



