<div class='full-height centered-content'>
  <div class='columns'>
    <div class='column'>
      <h1 class='title'>{{title}}</h1>
      <div class="card">
        {{yield}}
      </div>
    </div>
  </div>
</div>
