<div class='full-height centered-content'>
  <div class='columns'>
    <div class='column  is-half is-offset-one-quarter'>
      <h1 class='title'>{{@title}}</h1>

      <div class="card">
        {{yield}}
      </div>
    </div>
  </div>
</div>
